<html lang="ru">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация - ИнтерВектор</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://unpkg.com/inputmask@5/dist/inputmask.min.js"></script>
    <script src="/js/auth.js" defer></script>
    <script src="/js/phone-mask.js" defer></script>
    <link rel="icon" href="/icons/favicon.ico" sizes="any">
  </head>

  <body class="auth-page">
    <div class="auth-container">
      <div class="auth-box">
        <div class="auth-header">
          <a href="/" class="auth-logo">ИнтерВектор</a>
        </div>
        <form action="/auth/login" method="POST" class="auth-form">
          <h2>Вход в личный кабинет</h2>
          {{#if error}}
            <div class="error-alert">
              {{#if (eq error "invalid_credentials")}}
                Неверный номер телефона или пароль
              {{/if}}
              {{#if (eq error "db_error")}}
                Ошибка сервера, попробуйте позже
              {{/if}}
              {{#if (eq error "not_authorized")}}
                Необходимо войти в систему
              {{/if}}
            </div>
          {{/if}}
          <div class="form-group">
            <label for="phone">Номер телефона</label>
            <div class="input-group">
              <input
                type="tel"
                id="phone"
                name="phone"
                required
                placeholder="+7 (___) ___-__-__"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="password">Пароль</label>
            <div class="input-group">
              <input type="password" id="password" name="password" required />
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn-auth">Войти</button>
          </div>
        </form>
        <div class="auth-footer">
        </div>
      </div>
    </div>
  </body>

</html>